.background-city-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .background-city {
    // position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    background-size: calc(60 * var(--vw)) calc(30 * var(--vh));
    object-fit: contain;
    width: 500vw;
    height: calc(30 * var(--vh));
    animation: translation 30s infinite linear;
  }
}

@keyframes translation {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}
