.footer {
    z-index: 100;
    position: absolute;
    width: 100%;
    display: flex;
    bottom:0;
    align-items: center;
    justify-content: center;
    column-gap: 2vw;
    padding-bottom: 10px;
    ;}