.container-map {
  .background-map {
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(16 * var(--vh));
    width: 100vw;
    background-image: url('src/assets/img/ville.png');
    background-position: bottom;
    overflow: hidden;
    border: solid 2px black;
  }

  .voitures {
    .voiture-mamie {
      position: absolute;
      bottom: 20px;
      img {
        height: 50px;
      }
    }

    .voiture-diesel {
      position: absolute;
      bottom: 20px;
      img {
        height: 70px;
      }
    }
  }
}
