@import "./components/Marmite.scss";
@import "./components/EcraseTomate.scss";
@import "./components/Foodtruck.scss";
@import "./components/Mamie.scss";
@import "./components/Map.scss";

@font-face {
  font-family: 'VT323';
  src: url('src/assets/fonts/VT323-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Swipe-Race';
  src: url('src/assets/fonts/SwipeRaceDemo.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  // background-color: #111;
}
